.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBarItem {
    margin: 2%;
    font-weight: bold;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}