.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(53, 124, 255);
    color: white;
}

.sideBarLink {
    margin: 2%;
    cursor: pointer;
}

.activeLink {
    font-weight: bold !important;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

h2, h4 {
    padding: 0px;
    margin: 5px;
}

a {
    text-decoration: none;
}