.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(53, 124, 255);
    color: white;
}

.sideBarLink {
    margin: 2%;
    cursor: pointer;
}

.activeLink {
    font-weight: bold !important;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

p {
    margin-left: 5px;
}

h1 {
    font-size: 10vh;
}

h2 {
    font-size: 6vh
}

h3 {
    font-size: 4vh
}

h4 {
    font-size: 3vh;
    color: grey;
}

h3, .textColored {
    color: rgb(53, 124, 255);
}

h1, h2, h3, h4 {
    padding: 0px;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

hr {
    color: grey;
    opacity: '40%';
}